<script>
  import 'roboto-fontface-woff/css/roboto/sass/roboto-fontface.scss';
  import '../global.scss';

  import Navbar from '$lib/Navbar.svelte';
  import Sidebar from '$lib/Sidebar.svelte';
  import { MaterialApp, Button, Window, WindowItem } from 'svelte-materialify/src';
  import { load } from '$lib/store';

  let theme = 'dark';
  let value = 0;

  load();
</script>

<MaterialApp {theme}>
  <Navbar />
  <Sidebar />
  <slot />
</MaterialApp>

<style lang="scss">
  @import 'svelte-materialify/src/styles/variables';

  :global(body) {
    background-color: map-get($material-dark-theme, 'surface');
  }
</style>
