<script>
  import {
    genres,
    selectedGenre,
    query,
    page,
    selectedGame,
    databaseGames,
    isAdmin
  } from '$lib/store.js';
  import {
    Select,
    TextField,
    Row,
    Col,
    ProgressCircular,
    Icon,
    Button
  } from 'svelte-materialify/src';
  import { fly } from 'svelte/transition';
  import Pagination from '$lib/discover/Pagination.svelte';
  import Panel from '$lib/discover/Panel.svelte';
  import Grid from '$lib/discover/Grid.svelte';
  import EditGame from '$lib/admin/EditGame.svelte';
  import { mdiPlus } from '@mdi/js';
  import SelectBanner from '$lib/admin/SelectBanner.svelte';

  let searchValue = $query;

  let editMode = false;
  let bannerMode = false;
  let newGame = null;

  let genreItems = [];

  genres.subscribe(async ($genres) => {
    genreItems = ['Any'].concat(await $genres);
  });

  let value = $selectedGenre !== null ? $selectedGenre : 'Any';

  selectedGenre.subscribe((value) => {
    if ($page !== 1 && value !== null) {
      page.set(1);
    }
  });

  $: {
    $selectedGenre = value !== 'Any' ? value : null;
  }

  const handleAddGame = () => {
    newGame = {};
    newGame.id = 0;
    newGame.genres = [];
    newGame.tags = [];
    newGame.languages = [];
  };
</script>

<svelte:head>
  <title>Chad Launcher - Discover</title>
</svelte:head>

<div class="content ma-5">
  <Row class="pl-5 pr-5">
    <Col>
      <Pagination />
    </Col>
    <Col>
      <Select items={genreItems} bind:value />
    </Col>

    <Col>
      <form
        on:submit={(e) => {
          e.preventDefault();
          $page = 1;
          $query = searchValue;
        }}
      >
        <TextField bind:value={searchValue} placeholder="Search" />
      </form>
    </Col>

    {#if $isAdmin}
      <Button icon on:click={handleAddGame}>
        <Icon path={mdiPlus} />
      </Button>
    {/if}
  </Row>

  <Row>
    <Col>
      <div
        class="grid full-height pr-3"
        in:fly={{ x: -100, duration: 300, delay: 300 }}
        out:fly={{ x: -100, duration: 300 }}
      >
        <Grid />
      </div>
    </Col>
    {#if newGame !== null}
      <Col sm={6} md={4} lg={4}>
        <div
          in:fly={{ x: 100, duration: 300, delay: 300 }}
          out:fly={{ x: 100, duration: 300 }}
          class="full-height"
        >
          <EditGame
            game={newGame}
            lockKey={false}
            on:close={() => {
              newGame = null;
            }}
          />
        </div>
      </Col>
    {:else if $selectedGame !== null}
      <Col sm={6} md={4} lg={4}>
        {#await $databaseGames}
          <ProgressCircular indeterminate color="primary" />
        {:then games}
          {#key $selectedGame}
            <div
              in:fly={{ x: 100, duration: 300, delay: 300 }}
              out:fly={{ x: 100, duration: 300 }}
              class="full-height"
            >
              {#if editMode}
                <EditGame
                  game={games[$selectedGame]}
                  on:close={() => {
                    editMode = false;
                  }}
                />
              {:else if bannerMode}
                <SelectBanner game={games[$selectedGame]} on:close={() => (bannerMode = false)} />
              {:else}
                <Panel
                  game={games[$selectedGame]}
                  on:close={() => ($selectedGame = null)}
                  on:edit={() => (editMode = true)}
                  on:select-banner={() => (bannerMode = true)}
                />
              {/if}
            </div>
          {/key}
        {:catch error}
          <p style="color: red">{error.message}</p>
        {/await}
      </Col>
    {/if}
  </Row>
</div>

<style>
  .content {
    max-height: calc(100vh - 100px);
    overflow: hidden;
  }

  .full-height {
    max-height: calc(100vh - 170px);
    min-height: calc(100vh - 170px);
    height: calc(100vh - 170px);
  }

  .grid {
    overflow-y: scroll;
  }
</style>
