<script>
  import {
    Container,
    ExpansionPanel,
    ExpansionPanels,
    Row,
    Col,
    Button,
    ProgressCircular
  } from 'svelte-materialify';
  import command from '$lib/command';
  import { listen } from '@tauri-apps/api/event';
  import ActionList from '$lib/admin/ActionList.svelte';
  import { fly } from 'svelte/transition';
  import EditGame from '$lib/admin/EditGame.svelte';
  import { writable, derived } from 'svelte/store';
  import { actions } from '$lib/store';

  let actionDoneListener = null;
  let actionErrorListener = null;
  let loading = false;

  let editGame = null;

  const handleClick = (e) => {
    let action = e.detail;
    switch (action.type) {
      case 'AddGame':
        editGame = action.game;
        break;
      case 'UpdateGame':
        editGame = action.to;
        break;
      case 'RemoveGame':
        editGame = action.game;
        break;
      case 'AddBanner':
        break;
    }
  };

  const getSelectedActions = (actions) => {
    return Object.entries(actions).filter(([_, value]) => value.selected);
  };

  const applyActions = async () => {
    actionDoneListener?.();
    actionErrorListener?.();

    let selectedActions = getSelectedActions($actions);

    selectedActions.forEach(([id, value]) => (value.status = 'loading'));
    $actions = $actions;

    let messages = selectedActions.map(([id, value]) => ({
      id,
      action: value.action
    }));

    actionDoneListener = await listen('action_done', (event) => {
      let id = event.payload.id;
      $actions[id].status = 'done';
      $actions[id].selected = false;
      setTimeout(() => {
        delete $actions[id];
        $actions = $actions;
      }, 2000);
    });

    actionErrorListener = await listen('action_error', (event) => {
      let id = event.payload.id;
      $actions[id].status = 'error';
      console.error(event.payload.error);
    });

    command.scraper('apply_actions', { actions: messages });
  };

  const handleScrape = async () => {
    loading = true;

    let to_remove = Object.entries($actions).filter(([_, value]) => {
      return (
        value.action.type == 'AddGame' ||
        value.action.type == 'UpdateGame' ||
        value.action.type == 'RemoveGame'
      );
    });
    to_remove.forEach(([id, _]) => {
      delete $actions[id];
      $actions = $actions;
    });

    //await command.scraper('get_new_games_pages', { firstPage: 6, numPages: 1 });
    try {
      await command.scraper('get_all_new_games');
    } catch (error) {
      console.error(error);
    }

    loading = false;
  };

  const setup = async () => {
    let scrape_ok_listener = await listen('scrape_new_action', (event) => {
      let message = event.payload;
      $actions[message.id] = {
        selected: message.action.type != 'RemoveGame',
        action: message.action
      };
    });

    let scrape_error_listener = await listen('scrape_game_err', (error) => {
      console.error(error);
    });
  };

  setup();
</script>

<svelte:head>
  <title>Chad Admin</title>
</svelte:head>

<div class="content pa-5">
  <Row>
    {#if loading}
      <ProgressCircular indeterminate color="primary" />
    {:else}
      <Button on:click={handleScrape} class="mr-5">Scrape 1337x</Button>
      <Button on:click={applyActions}>Apply to database</Button>
    {/if}
  </Row>
  <Row>
    <Col>
      <div
        class="grid full-height"
        in:fly={{ x: -100, duration: 300, delay: 300 }}
        out:fly={{ x: -100, duration: 300 }}
      >
        <ExpansionPanels multiple value={[0, 1, 2, 3]}>
          <ExpansionPanel>
            <span slot="header">Add new games to database</span>
            <ActionList actions={$actions} typeFilter="AddGame" on:click={handleClick} />
          </ExpansionPanel>
          <ExpansionPanel>
            <span slot="header">Update games in database</span>
            <ActionList actions={$actions} typeFilter="UpdateGame" on:click={handleClick} />
          </ExpansionPanel>
          <ExpansionPanel>
            <span slot="header">Remove games from database</span>
            <ActionList actions={$actions} typeFilter="RemoveGame" on:click={handleClick} />
          </ExpansionPanel>
          <!--
          <ExpansionPanel>
            <span slot="header">Add new banners for games</span>
            <ActionList actions={$actions} typeFilter="AddBanner" on:click={handleClick} />
          </ExpansionPanel>
          -->
        </ExpansionPanels>
      </div>
    </Col>
    {#if editGame !== null}
      <Col sm={6} md={4} lg={4}>
        <div
          in:fly={{ x: 100, duration: 300, delay: 300 }}
          out:fly={{ x: 100, duration: 300 }}
          class="full-height"
        >
          <EditGame
            game={editGame}
            lockKey={false}
            showActions={false}
            on:close={() => {
              editGame = null;
            }}
          />
        </div>
      </Col>
    {/if}
  </Row>
</div>

<style>
  .content {
    max-height: calc(100vh - 100px);
    overflow: hidden;
  }

  .full-height {
    max-height: calc(100vh - 170px);
    min-height: calc(100vh - 170px);
    height: calc(100vh - 170px);
  }

  .grid {
    overflow-y: scroll;
  }
</style>
