<script>
  import Card from '$lib/Card.svelte';
  import banner from '$lib/assets/default_banner.png';

  export let game;
  export let selected = false;

  const banner_base = 'https://bkftwbhopivmrgzcagus.supabase.in/storage/v1/object/public/banners/';
  $: banner_src =
    game.banner_index !== null
      ? `${banner_base}${game.hash}-${game.banner_index}.png`
      : `${banner_base}${game.hash}.png`;
</script>

<Card title={game.name} banner={banner_src} {selected} on:click />
