<script>
  import banner from '$lib/assets/default_banner.png';
  import { Button, Chip, Icon } from 'svelte-materialify/src';
  import Panel from '$lib/Panel.svelte';
  import { mdiDelete, mdiDownload, mdiImage } from '@mdi/js';
  import { isAdmin } from '$lib/store';
  import { mdiSquareEditOutline } from '@mdi/js';
  import { createEventDispatcher } from 'svelte';
  const dispatch = createEventDispatcher();

  export let game;

  const banner_base = 'https://bkftwbhopivmrgzcagus.supabase.in/storage/v1/object/public/banners/';
  $: banner_src =
    game.banner_index !== null
      ? `${banner_base}${game.hash}-${game.banner_index}.png`
      : `${banner_base}${game.hash}.png`;
</script>

<Panel banner={banner_src} title={game.name} on:close>
  <div slot="subtitle">
    {game.hash}<br />
    {game.file}<br /><br />
    {#each game.genres as genre}
      <Chip size="small" class="primary-color mr-2 mb-2">{genre}</Chip>
    {/each}
    <br />
    {#each game.tags as tag}
      <Chip size="small" class="primary-color mr-2 mb-2">{tag}</Chip>
    {/each}
    <br />
    {#each game.languages as language}
      <Chip size="small" class="primary-color mr-2 mb-2">{language}</Chip>
    {/each}
    <br />
  </div>
  <div slot="text" class="show-white-space">
    {game.description}
  </div>
  <div slot="actions">
    <Button icon on:click={() => dispatch('edit')}>
      <Icon path={mdiSquareEditOutline} />
    </Button>
    <Button icon on:click={() => dispatch('select-banner')}>
      <Icon path={mdiImage} />
    </Button>
  </div>
</Panel>

<style>
  .show-white-space {
    white-space: pre-wrap;
  }
</style>
