<script>
  export let actions = {};
  export let typeFilter = null;

  $: entries = Object.entries(actions).filter(([_, value]) => value.action.type === typeFilter);

  import {
    List,
    ListItem,
    Subheader,
    Checkbox,
    ProgressCircular,
    Icon
  } from 'svelte-materialify/src';
  import { createEventDispatcher } from 'svelte';
  import { mdiCheck, mdiCloseCircleOutline } from '@mdi/js';
  const dispatch = createEventDispatcher();

  const handleToggleAll = (event) => {
    event.preventDefault();
    let value = event.target.checked;
    console.log(value);
    entries.forEach(([_, v]) => (v.selected = value));
    console.log(entries);
    actions = actions;
  };
</script>

<List style="width:100%">
  <ListItem>
    <span slot="prepend" class="mr-5">
      <Checkbox
        checked={entries.every(([_, value]) => value.selected)}
        on:change={handleToggleAll}
      />
    </span>
    Toggle all
  </ListItem>
  {#each entries as [id, value] (id)}
    <ListItem on:click={() => dispatch('click', value.action)}>
      <span slot="prepend" class="mr-5">
        {#if value.status != 'done'}
          <Checkbox bind:checked={value.selected} />
        {/if}
      </span>
      {#if value.action.type == 'UpdateGame'}
        {value.action.to.name}
      {:else}
        {value.action.game.name}
      {/if}
      <span slot="append" class="ml-5">
        {#if value.status == 'loading'}
          <ProgressCircular indeterminate color="primary" />
        {:else if value.status == 'done'}
          <Icon path={mdiCheck} color="green" />
        {:else if value.status == 'error'}
          <Icon path={mdiCloseCircleOutline} color="red" />
        {/if}
      </span>
    </ListItem>
  {/each}
</List>
