<script>
  import { Button, Textarea, Icon, TextField, Switch } from 'svelte-materialify/src';
  import Panel from '$lib/Panel.svelte';
  import command from '$lib/command';
  import { createEventDispatcher } from 'svelte';
  import { mdiDelete } from '@mdi/js';
  const dispatch = createEventDispatcher();

  export let game;
  export let lockKey = true;
  export let showActions = true;
  let message = null;
  let confirmRemove = false;

  const banner_base = 'https://bkftwbhopivmrgzcagus.supabase.in/storage/v1/object/public/banners/';
  $: banner_src = game.banner_index
    ? `${banner_base}${game.hash}-${game.banner_index}.png`
    : `${banner_base}${game.hash}.png`;

  const handleSave = async () => {
    message = 'Saving...';
    game.leetx_id = parseInt(game.leetx_id);

    if (game.banner_index == '') {
      game.banner_index = null;
    } else {
      game.banner_index = parseInt(game.banner_index);
    }

    try {
      await command.database('add_update_game', { game });
      message = 'Saved';
    } catch (error) {
      message = error;
    }
  };

  const handleRemove = async () => {
    message = 'Deleting...';
    confirmRemove = false;

    try {
      await command.database('remove_game', { gameKey: { hash: game.hash, file: game.file } });
      message = 'Deleted';
    } catch (error) {
      message = error;
    }
  };
</script>

<Panel banner={banner_src} title={game.name} on:close>
  <div slot="subtitle">
    {game.hash}
    <br />
  </div>
  <div slot="text">
    {#if !lockKey}
      <TextField outlined bind:value={game.hash}>Hash</TextField><br />
      <TextField outlined bind:value={game.file}>File</TextField><br />
    {/if}
    <TextField outlined bind:value={game.leetx_id}>1337x id</TextField><br />
    <TextField outlined bind:value={game.name}>Name</TextField><br />
    <TextField outlined bind:value={game.version}>Version</TextField><br />
    <TextField outlined bind:value={game.banner_index}>Banner Index</TextField><br />
    <Switch bind:checked={game.nsfw}>NSFW</Switch><br />
    <Textarea outlined bind:value={game.description}>Description</Textarea><br />
    {#if message !== null}
      {message}
    {/if}
  </div>
  <div slot="actions">
    {#if showActions === true}
      <Button on:click={handleSave}>Save</Button>
    {/if}
    <Button on:click={() => dispatch('close')}>Cancel</Button>
    {#if showActions === true}
      <Button icon on:click={() => (confirmRemove = true)}>
        <Icon path={mdiDelete} />
      </Button>
    {/if}
    {#if confirmRemove}
      Are you sure?
      <Button on:click={handleRemove}>Yes</Button>
    {/if}
  </div>
</Panel>
