<script>
  import Panel from '$lib/Panel.svelte';
  import { open } from '../../../node_modules/@tauri-apps/api/dialog';
  import { Button, ProgressCircular } from 'svelte-materialify/src';
  import command from '$lib/command';

  export let game = {};
  let banners = Promise.resolve([]);
  let selected = null;
  let message = '';
  const banner_base = 'https://bkftwbhopivmrgzcagus.supabase.in/storage/v1/object/public/banners/';
  let selectedBanner =
    game.banner_index !== null
      ? `${banner_base}${game.hash}-${game.banner_index}.png`
      : `${banner_base}${game.hash}.png`;
  let searched = false;

  const handleSearch = async () => {
    banners = command.scraper('find_banners_for_game', { gameName: game.name });
    searched = true;
  };

  const handleUpload = async () => {
    try {
      let path = await open({ multiple: false });
      message = 'Uploading...';
      await command.database('upload_banner_file', {
        file: path,
        hash: game.hash,
        bannerIndex: game.banner_index
      });
      message = 'Done!';
    } catch (error) {
      message = error.message;
    }
  };

  const handleSelect = async () => {
    try {
      message = 'Uploading...';
      await command.database('upload_banner_url', {
        bannerUrl: selectedBanner,
        hash: game.hash,
        bannerIndex: game.banner_index
      });
      message = 'Done!';
    } catch (error) {
      message = error.message;
    }
  };
</script>

<Panel banner={selectedBanner} title={`Select banner for ${game.name}`} class="panel" on:close>
  <div slot="subtitle">
    {game.hash}<br /><br />
  </div>
  <div slot="text" class="scroll">
    {#await banners}
      <div class="d-flex justify-center align-center full">
        <ProgressCircular indeterminate color="primary" />
      </div>
    {:then bnrs}
      {#each bnrs as banner, i}
        <img
          src={banner}
          class:selected={selected == i}
          on:click={() => {
            selected = i;
            selectedBanner = bnrs[selected];
          }}
          on:dblclick={() => {
            selected = i;
            selectedBanner = bnrs[selected];
            handleSelect();
          }}
          alt="banner"
        />
      {/each}
    {:catch error}
      <p style="color: red">{error.message}</p>
    {/await}
  </div>
  <div slot="actions">
    {#if message !== null}
      <p class="mb-2">{message}</p>
    {/if}
    {#if searched}
      <Button on:click={handleSelect}>Select</Button>
    {/if}
    <Button on:click={handleSearch}>Search</Button>
    <Button on:click={handleUpload}>Upload</Button>
  </div>
</Panel>

<style lang="scss">
  @import 'svelte-materialify/src/styles/variables';

  img {
    width: 50%;
    border-radius: 5px;
  }

  img.selected {
    border: 2px solid $primary-color;
    border-radius: 5px;
  }

  .full {
    width: 100%;
    height: 100%;
  }

  .scroll {
    overflow-y: scroll;
    max-height: 25vh;
  }

  .panel {
    max-height: 100%;
  }
</style>
